<div id="answer-{{answer.id}}">
  <p>{{answer.body}}</p>
  <p>
    <b><span>Rating: </span></b>
    <span>{{rating}}</span>
  </p>

  <div class="links-hbs">
    {{#if links.length}}
      <span>Links: </span>
      <ul class="links">
        {{#each links}}
        <li><a target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
